.cart-list-container{
    margin-top:130px;
    margin-bottom:75px;
    color:#787878;
    .alert{
        width:100%;
    }
    .cart-list-wrapper{
        ul{
            li{
                width: 100%!important;
                line-height: 22px;
                vertical-align: middle;
            }
        }
    }
    .clear-cart{
        float:right;
        a{
            color:#fff;
            text-decoration: none;
        }
    }
}