.cart-list-container{
    margin-top:130px;
    color:#787878;
    .alert{
        width:100%;
    }
    .cart-list-wrapper{
        ul{
            li{
                width: 100%!important;
                line-height: 22px;
                vertical-align: middle;
            }
        }
    }
    .btn-info{
        margin-bottom:75px;
    }
    .clear-cart{
        float:right;
    }
}